.country-item,
.card-wrap {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 15px;
  text-align: center;
}

.country-item,
.card {
  border: 2px solid tomato;
  border-radius: 5px;
  width: 500px;
  padding: 15px;
  color: rgb(17, 15, 35);
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-size: 18px;
  font-weight: 700;
}

.counry-title,
.card-tex {
  margin: 0;
  font-size: 20px;

}

.card-title,
b .card-tex,
.card-span {
  font-size: 30px;
  font-weight: 700;
}

.card-span {
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  color: tomato;
}